<div class="main-container-inner">
  <div class='row'>

    <div class="large-2 columns sidebar-wrapper">
      <div id="sidebar-categiries-tree"></div>
    </div>

    <div class="large-10 columns content-wrapper">
      <p>点击目录结点后，加载该结点下的文档，并显示成列表。</p>
    </div>

  </div>
</div>
