<div class="main-container-inner">
  <div class='row'>

    <div class="large-2 columns sidebar-wrapper">
      <ul id="sidebar-categiries-tree" class='ztree'></ul>
      <div id="tree-right-menu" style='visibility:hidden;'>
        <ul>
          <li id='tree-add-node'>增加目录</li>
          <li id='tree-del-node'>删除目录</li>
        </ul>
      </div>
    </div>

    <div class="large-10 columns content-wrapper">
      <p>点击目录结点后，加载该结点下的文档，并显示成列表。</p>
    </div>

  </div>
</div>
