/*引入基本的框架之类的*/
@import 'zTreeStyle';
@import 'foundation_and_overrides';
@import 'variables';
@import 'mixins';

body {
  background-color: #eff5f2;
}

.app-container > .app-topbar > .app-topbar-inner {
  width: 1024px;
  margin: 0 auto;
  padding: 0;
}

.app-container > .app-main-wrapper {
  margin-top: 30px;
}

.app-main-wrapper > .main-container-inner {
  @include common-card;
  width: 1024px;
  margin: 0 auto;
  padding: 20px;
  min-height: 550px;
}

.app-topbar .session-button {
  padding: 0 15px;
  height: 45px;
}

.session-wrapper {
  @include common-card;
  width: 700px;
  margin: 0 auto;
  padding: 50px;
}
