/*引入基本的框架之类的*/
@import "foundation_and_overrides";
@import "variables";
@import "mixins";

body {
  background-color: #eff5f2;
}

.apidoc > .apidoc-top-bar > .apidoc-top-bar-inner {
  width: 1024px;
  margin: 0 auto;
}

.apidoc > .inner {
  width: 1024px;
  margin: 0 auto;
}

.apidoc > .inner > .apidoc-sidebar {
  background: #F9F9F9;
  min-height: 768px;
  padding: 20px;
}

.apidoc > .inner > .apidoc-container {
  padding: 20px;
}

.apidoc-top-bar .session-button {
  padding: 0 15px;
  height: 45px;
}
